{% load markuptags sekizai_tags %}
{% if object.css_class %}
    <div class="{{ object.css_class }}">
{% endif %}
{% rendermarkup %}
{% if object.css_class %}
    </div>
{% endif %}
{% if dont_use_sekizai %}
    {{ markup_stylesheets|content_stylesheets }}
{% else %}
    {% for stylesheet in markup_stylesheets %}
        {% addtoblock "css" %}
            <link rel="stylesheet" type="{{ stylesheet.type|default:"text/css"|safe }}" href="{{ stylesheet.href|safe }}" />
        {% endaddtoblock %}
    {% endfor %}
{% endif %}
{% if dont_use_sekizai %}
    {{ markup_scripts|content_scripts }}
{% else %}
    {% for script in markup_scripts %}
        {% addtoblock "js" %}
            <script type="{{ script.type|default:"text/javascript"|safe }}" src="{{ script.href|safe }}"></script>
        {% endaddtoblock %}
    {% endfor %}
{% endif %}
