{% extends "base.html" %}

{% load cms_tags url_tags %}

{% block content %}

<div class="get-started">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>See how to Get Started with <span>Orange</span></h1>
                    <div class="tutorial">
                        <img src="{{ STATIC_URL }}orange/images/placeholder-getstarted.jpg" alt="Placeholder" />
                        <span class="icon back"></span>
                        <span class="icon front"></span>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="container inside">
    <div class="row">
        <div class="span12">
            <h2>Widget Catalog</h2>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h3><a href="#">Data</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
        <div class="span4">
            <h3><a href="#">Visualize</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
        <div class="span4">
            <h3><a href="#">Classify</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h3><a href="#">Regression</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
        <div class="span4">
            <h3><a href="#">Evaluate</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
        <div class="span4">
            <h3><a href="#">Associate</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p><a href="#">See full specifications</a></p>
        </div>
    </div>
</div>
{% placeholder content %}

{% endblock %}
