<table class="screenshots">
{% with features_width|default:"4"|add:"0" as features_width %}
<tr valign="middle">
{% for s in screenshots %}
    <td{% if forloop.counter > features_width %} class="hidden-screenshot"{% endif %}><a href="/screenshots/{{ s.img }}"><img src="/screenshots/{{ s.thumb }}" alt="{{ s.title }}" title="{{ s.title }}" /></a></td>
{% endfor %}
</tr>
{% endwith %}
</table>
