{% extends "base.html" %}

{% load cms_tags orange_tags i18n staticfiles %}

{% block fulltitle %}{% trans "Orange – Data Mining Fruitful &amp; Fun" %}{% endblock %}

{% block header %}
    <div class="top-first">
        <div class="top row">
            <div class="left-col span5">
                <h1>{% placeholder main_title %}</h1>
                <h2>{% placeholder main_subtitle %}</h2>
                {% download_button %}
                <a class="other-systems" href="/download/">Other operating systems</a>
            </div>

            <div class="right-col span7 presentation">
                {% placeholder main_preview %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="span8">
                {% placeholder main_content %}
            </div>

            <div class="span4">
                <div class="blog-headlines">
                    <h1><a href="/blog/">What are we up to?</a></h1>
                    {% placeholder main_latest %}
                </div>
            </div>
        </div>
        {% placeholder main_screenshots %}
{% endblock %}
