{% load cms_tags staticfiles %}
{% with preview_images as preview_images %}
<script type='text/javascript'>
    /* <![CDATA[ */
    var images = [
        {% for image in preview_images %}
            ["{{ image.id|escapejs }}", "{{ image.src|escapejs }}"]{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var images_dict = {
        {% for image in preview_images %}
            "{{ image.id|escapejs }}": "{{ image.src|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    $(document).ready(function () {
        var next_showcase = 0;

        $('.preview').click(function(e) {
            $('.selected').attr('class', 'preview');
            $(e.currentTarget).attr('class', 'preview selected');
            $('#preview_image').fadeOut(150, function () {
                $(this).attr('src', '/static/preview/' + images_dict[e.currentTarget.id]).fadeIn(150);
            });
            return false;
        });

        function preload() {
            var cache = new Image();
            cache.onload = function () {
                cache.onload = function () {};
                cache = null;
            };
            cache.src = '/static/preview/' + images[next_showcase][1];
        }

        function get_next_one() {
            next_showcase = (next_showcase + 1) % images.length;
        }

        function swap_one() {
            (function ($) {
                $('#preview_image').fadeOut(150, function () {
                    $(this).attr('src', '/static/preview/' + images[next_showcase][1]).fadeIn(150);
                    $('.selected').attr('class', 'preview');
                    $('#' + images[next_showcase][0]).attr('class', 'preview selected');

                    get_next_one();
                    preload();
                });
            })(jQuery);
        }
        get_next_one();
        preload();
        setInterval(swap_one, 10000);
    });
    /* ]]> */
</script>
<img id="preview_image" src="{% static 'main/images/placeholder-top.png' %}" alt="Placeholder" />
<ul>
    {% for image in preview_images %}
        {% if forloop.first %}
            <li id="{{ image.id }}" class="preview selected"><a href="#"><span class="icon bullet"></span></a></li>
         {% else %}
            <li id="{{ image.id }}" class="preview"><a href="#"><span class="icon bullet"></span></a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endwith %}
