{% load list_tags %}
<table class="screenshots_page">
    <script type='text/javascript'>
        /* <![CDATA[ */
        $(document).ready(function () {
            var hash = window.location.hash.substring(1);
            $('#' + hash.slice(4, -4)).trigger('click');
        });
        /* ]]> */
    </script>

    {% for group in screenshots|split_list:"4" %}
        <tr valign="bottom">
            {% for s in group %}
            <td><a href="/static/screenshots/{{ s.img }}"><img src="/static/screenshots/{{ s.thumb }}" alt="{{ s.title }}" title="{{ s.title }}" /></a></td>
            {% endfor %}
        </tr>
        <tr valign="top" class="screenshot-description">
            {% for s in group %}
            <td><a id="{{ s.id }}" href="/static/screenshots/{{ s.img }}" class="enable-visage">{{ s.title }}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
