{% load cms_tags %}
{% with showcases|random as random_showcase %}
    <script type='text/javascript'>
        /* <![CDATA[ */
        var showcases = [
        {% for image in showcases %}
            '{{ image|escapejs }}'{% if not forloop.last %},{% endif %}
        {% endfor %}
        ];

        var current_showcase = '{{ random_showcase|escapejs }}';
        var current = Math.floor(showcases.length * Math.random());

        $(document).ready(function () {
            function get_next_one() {
                current = (current + 1) % showcases.length;
                return showcases[current];
            }

            function set_showcase(id) {
                (function ($) {
                    $('#' + id).fadeOut(function () {
                        $(this).attr('src', '/static/screenshots/' + get_next_one()).fadeIn();
                    });
                    $('#a_' + id).fadeOut(function () {
                        $(this).attr('href', '/screenshots/#' + get_next_one()).fadeIn();
                    });
                })(jQuery);
            }

            set_showcase('showcase_1');
            set_showcase('showcase_2');
            set_showcase('showcase_3');
            set_showcase('showcase_4');
        });
        /* ]]> */
    </script>

    <div class='row screenshots'>
        <div class='span12'>
            <h1>Screenshots</h1>
            <a id='a_showcase_1' href='/screenshots/' style='border: none'><img id='showcase_1' src='/static/screenshots/{{ random_showcase|escape }}' alt='See screenshots' title='See all screenshots' /></a>
            <a id='a_showcase_2' href='/screenshots/' style='border: none'><img id='showcase_2' src='/static/screenshots/{{ random_showcase|escape }}' alt='See screenshots' title='See all screenshots' /></a>
            <a id='a_showcase_3' href='/screenshots/' style='border: none'><img id='showcase_3' src='/static/screenshots/{{ random_showcase|escape }}' alt='See screenshots' title='See all screenshots' /></a>
            <a id='a_showcase_4' href='/screenshots/' style='border: none'><img id='showcase_4' src='/static/screenshots/{{ random_showcase|escape }}' alt='See screenshots' title='See all screenshots' /></a>
        </div>
    </div>
{% endwith %}
