{% extends "base.html" %}

{% block title %}Blog {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            {% block left-col %}{% endblock %}
        </div>

        <div class="span4">
            <div class="blog-headlines">
                {% block right-col %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
