{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS feed for tag &quot;{{ tag|escape }}&quot;" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'blog_rss_tagged' tag %}" />
<link rel="alternate" type="application/rss+xml" title="RSS feed for tag &quot;{{ tag|escape }}&quot; (any language)" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'blog_rss_any_tagged' tag %}" />
{% endblock extrahead %}

{% block left-col %}
{{ block.super }}

<h1>{% trans "Entries tagged" %} "{{ tag }}"</h1>

{% if object_list %}
   {% include "cmsplugin_blog/entry_list_include.html" %}
{% else %}
    <p>{% trans "No entries tagged" %} "{{ tag }}"</p>
{% endif %}

{% endblock %}

{% block right-col %}

{% render_author_links %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}