{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags simple_translation_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }}" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'blog_rss_author' author %}" />
<link rel="alternate" type="application/rss+xml" title="RSS feed for author {{ author|escape }} (any language)" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'blog_rss_any_author' author %}" />
{% endblock extrahead %}

{% block title %}{% trans "Entries by" %} {{ author }}{{ block.super }}{% endblock %}

{% block left-col %}
<div class="entry-list">
<h2 id="entries-by">{% trans "Entries by" %} {{ author }}</h2>
{% if object_list %}
    {% include "cmsplugin_blog/entry_list_include.html" %}
{% else %}
    <p>{% trans "No entries by" %} {{ author }}.</p>
{% endif %}
</div>
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}

{% block bodyend %}
{% endblock %}
