{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags simple_translation_tags %}

{% block title %}{% trans "Entries for" %} {{ month|date:"F Y" }}{{ block.super }}{% endblock %}

{% block left-col %}
<div class="entry-list">
    <h2 id="entries-for">{% trans "Entries for" %} {{ month|date:"F Y" }}</h2>
    {% include "cmsplugin_blog/entry_list_include.html" %}
</div>
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}

{% block bodyend %}
{% endblock %}
