{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}
{% for entry in object_list|annotate_with_translations %}
    {% with entry|get_preferred_translation_from_request:request as title %}
        {% with entry.placeholders|choose_placeholder:"excerpt" as excerpt %}
            <h2><a href="{{ title.get_absolute_url }}">{{ title }}</a></h2>
            <p>{{ entry.pub_date|date:"d M Y" }} &bull; <a href="{% url 'blog_archive_author' title.author %}">{{ title.author }}</a>{% if entry.tags %} &bull; {{ entry.tags }}{% endif %}</p>
            {% with entry.placeholders|choose_placeholder:"on_index_page" as on_index_page %}
                {% render_placeholder on_index_page %}
            {% endwith %}
            {% render_placeholder excerpt %}
        {% endwith %}
    {% endwith %}
{% endfor %}