{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}
{% load i18n cmsplugin_blog_tags simple_translation_tags placeholder_tags %}

{% block title %}{% trans "Latest entries" %}{{ block.super }}{% endblock %}

{% block left-col %}
<div class="latest-list">
{% for object in latest|annotate_with_translations %}
    {% with object|get_preferred_translation_from_request:request as title %}
        <div class="blog-entry">
        <h2 id="{{ title.slug }}"><a href="{{ title.get_absolute_url }}">{{ title }}</a> {{ object|render_language_choices:request|safe }}</h2>
        <div class="entry-content">
        {% with object.placeholders|choose_placeholder:"on_index_page" as on_index_page %}{% with "3" as max_images_number %}
            {% render_placeholder on_index_page %}
        {% endwith %}{% endwith %}
        </div>
        </div>
    {% endwith %}
{% empty %}
    <p>{% trans "No entries." %}</p>
{% endfor %}
</div>
{% endblock %}

{% block right-col %}
{% render_author_links %}
{% render_month_links %}
{% render_tag_links %}
{% endblock %}

{% block bodyend %}
{% endblock %}
