{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load placeholder_tags cmsplugin_blog_tags simple_translation_tags %}


{% block left-col %}
{{ block.super }}

<h1>{% with object|get_preferred_translation_from_request:request as title %}{{ title }}{% endwith %}</h1>

<p class="date"><span>{{ object.pub_date|date:"d F Y" }}</span></p>

<div class="entry-content">
{% with object.placeholders|choose_placeholder:"on_index_page" as on_index_page %}
    {% render_placeholder on_index_page %}
{% endwith %}
{% with object.placeholders|choose_placeholder:"the_rest" as the_rest %}
    {% render_placeholder the_rest %}
{% endwith %}
</div>

{% endblock %}

{% block right-col %}

{% render_author_links %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}
