{% load i18n simple_translation_tags placeholder_tags cmsplugin_blog_tags %}
{% if placeholder == "community" %}
<div class="latest-list">
{% for object in latest|annotate_with_translations %}
    {% with object|get_preferred_translation_from_request:request as title %}
        <div class="blog-entry">
        <h3 id="{{ title.slug }}"><a href="{{ title.get_absolute_url }}">{{ title }}</a> <span class="about-blog-date">{{ object.pub_date|date:"DATE_FORMAT" }}</span></h3>
        <div class="entry-content">
        {% with object.placeholders|choose_placeholder:"on_index_page" as on_index_page %}
            {% render_placeholder on_index_page %}
        {% endwith %}
        </div>
        </div>
    {% endwith %}
{% empty %}
    <p>{% trans "No blog entries." %}</p>
{% endfor %}
</div>
{% else %}
{% for object in latest|annotate_with_translations %}
    {% with object|get_preferred_translation_from_request:request as title %}
        <p><a href="{{ title.get_absolute_url }}">{{ title }}</a><span> &bull; {{ object.pub_date|date:"d M" }}</span></p>
    {% endwith %}
{% empty %}
    <p>{% trans "No blog entries." %}</p>
{% endfor %}
{% endif %}
