{% load i18n cms_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>{% block fulltitle %}{% block title %}{{ current_page.get_page_title }}{% endblock %} – Orange{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon" />
		<link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon" />
        {% block extrahead %}{% endblock %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'main/jquery-visage/res-alt/visage.css' %}" type="text/css" />
    	<link rel="stylesheet" href="{% static 'main/css/common.css' %}" type="text/css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Signika:400,700" type="text/css" />
        {% block css %}{% endblock %}
        {% render_block "css" %}

        <script type="text/javascript" src="{% static 'main/jquery/jquery.min.js' %}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		<script type="text/javascript" src="{% static 'main/jquery-visage/src/jquery.visage.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/js/jquery.visage.init.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/js/common.js' %}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}{% cms_toolbar %}{% endif %}
        <div class="top-inside">
            <div class="container">
                <div class="row">
                    <div class="span12 header">
                        <a class="logo" href="/"><img src="{{ STATIC_URL }}main/images/orange-logo.png" alt="Orange Logo" /></a>
                        <ul class="navigation">
                            <li><a href="/">Home</a></li>
                            <li><a href="/start/">Get Started</a></li>
                            <li class="btn btn-large btn-orange"><a href="/download/">Download</a></li>
                            <li><a href="/docs/latest/">Documentation</a></li>
                            <li><a href="/community/">Community</a></li>
                        </ul>
                    </div>
                </div>
                {% block header %}{% endblock %}
            </div>
            {% block toprow %}{% endblock %}
        </div>
        <div id="content">
            <div class="bottom-first">
                <div class="container">
                    {% block content %}{% endblock %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% block footer %}{% include "footer.html" %}{% endblock %}
        {% block bodyend %}{% endblock %}
        <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
        {% render_block "js" %}
    </body>
</html>
