<footer class="container">
    <ul class="left-col">
        <li><img src="{{ STATIC_URL }}main/images/icon-orange.png" alt="Orange Icon" /></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/license/">License</a></li>
        <li><a href="/citation/">Citation</a></li>
        <li><a href="/acknowledgments/">Acknowledgments</a></li>
    </ul>

    <ul class="right-col">
        <li><a href="/">Home</a></li>
        <li><a href="/start/">Get Started</a></li>
        <li><a href="/download/">Download</a></li>
        <li><a href="/docs/latest/">Documentation</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="http://orange.biolab.si/forum/">Forum</a></li>
        <li><a href="http://orange.biolab.si/trac/wiki/">Trac</a></li>
    </ul>
</footer>
