/*!
 * Custom Orange CSS
 * Designed by Peter Cuhalev
 */

.anchor:link, .anchor:visited {
    border: none;
    color: #d7d7d7;
    font-size: .8em;
    vertical-align: text-top;
}

* > .anchor:link, * > .anchor:visited {
    visibility: hidden;
}

body {
    background:#F2F1ED url('../images/backdrop-gray.png') repeat;
    font-family: 'Signika', sans-serif;
}

a {
    color: #42494d;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #F38031;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 32px;
    line-height: 38px;
    color: #8B942D;
    text-shadow: 0px 1px 0px #fff;
    margin-bottom: 0px;
}

h2 {
    font-size:18px;
    line-height: 24px;
    color: #42494D;
    margin-bottom: 10px;
}

h3 {
    font-size:18px;
    line-height: 24px;
    color: #42494D;
    margin-bottom: 10px;
}


/* First Page Top part with Header and Monitor */

.top-first h1 {
    font-size: 62px;
    line-height: 75px;
    color: #27303D;
    margin-bottom: 15px;
    text-shadow: 0px 1px 0px #fff;
}

.top-first h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    color: #777;
    margin-bottom: 15px;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
}

.top-first .download-action.btn {
    width: 340px;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 0px #000;
}

.top-first .other-systems {
    padding-top: 10px;
    font-size: 14px;
    color: #333;
    display: block;
    float: right;
}

.top-first .other-systems:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #F38031;
}

.top-first h2 span {
    color: #F48132;
}

/* Monitor */

.presentation {
    width: 519px;
    height: 400px;
    background: url('../images/monitor.png') no-repeat;
    margin-bottom: -15px;
    position: relative;
}

.presentation img {
    position: absolute;
    left: 23px;
    top: 18px;
}

.presentation ul {
    position: absolute;
    bottom: 56px;
    left: 196px;
}

.presentation ul li {
    list-style-type: none;
    float: left;
}

.presentation ul li a {
    padding: 1px;
}

/* Header */

.header {
    height: 70px;
    margin-top: 50px;
}

.logo {float: left;}

.navigation {
    float: right;
    overflow: visible;
}

.navigation li {
    float: left;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
}

.navigation li.btn {
    margin-top:-10px;
}

.navigation li.btn a {
    text-shadow: 0px 1px #000;
    color: #fff;
}

.navigation li.btn a:hover {
    color: #fff;
}

.navigation li a {
    color: #6A6A6A;
    text-shadow: 0px 1px 0px #fff;
}

.navigation li a:hover {
    text-decoration: none;
    color: #F38031;
}

.left-col {
    float: left;
}

.right-col {
    float: right;
}

/* First page bottom part */

.bottom-first {
    border-top: 1px solid #eaeaea;
    padding-top: 50px;
}

.bottom-first .container {
    border-bottom: 1px solid #BEC3C4;
    padding-bottom: 40px;
}

.bottom-first h1 {
    font-size: 32px;
    line-height: 38px;
    color: #8B942D;
    text-shadow: 0px 1px 0px #fff;
    margin-bottom: 25px;
}

.bottom-first h2 {
    font-size:18px;
    line-height: 24px;
    color: #42494D;
    margin-bottom: 10px;
}

.bottom-first h3 {
    font-size:16px;
    line-height: 24px;
    color: #42494D;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.bottom-first .row {
    margin-bottom: 15px;
}

/* What are we up to Blog links */

.blog-headlines {
    background: rgba(255,255,255,0.5);
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}


.blog-headlines h1 {
    font-size: 21px;
    line-height: 31px;
    color: #8B942D;
    text-shadow: 0px 1px 0px #fff;
    margin-bottom: 10px;
}

.blog-headlines h2 {
    font-size:18px;
    line-height: 24px;
    color: #42494D;
    margin-bottom: 10px;
}

.blog-headlines h1 a {
    color: #8B942D;
}

.blog-headlines h1 a:hover .icon.blog {background-position: -170px -40px;}

.blog-headlines a:hover {
    text-decoration: none;
    color: #F38031;
}

.blog-headlines p {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.blog-headlines p a {
    color: #666;
}

.blog-headlines span {
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
}

/* Screenshots row */

.screenshots img {
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    margin:0 1% 1% 0;
    width: 220px;
}

.screenshots a:hover img {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

}

/* Inside top background */
.top-inside {
    border-bottom: 1px solid #BEC3C4;
    background:#F2F1ED url('../images/top-background.jpg') repeat;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

/* Get started page */
.get-started {
    background:#8B942D url('../images/backdrop-green.png') repeat;
    border-bottom: 1px solid #BEC3C4;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    padding: 50px 0;
}

.get-started h1 {
    color: #fff;
    text-shadow: 0px 1px 0px #000;
    padding-bottom: 10px;
}

.get-started h1 span {
    color: #FFA73F;
}

.get-started .tutorial {
    height: 550px;
    border-radius: 5px;
    position: relative;
}

.get-started .tutorial img {
    border-radius: 5px;
}

/* Inside pages Container */
.inside {
    padding: 50px 0 10px;
    border-bottom: 1px solid #BEC3C4;
}

.inside .row {
    padding-bottom: 30px;
}

/* Footer */

footer {
    padding: 25px 0 25px 0;
    border-top: 1px solid #fff;
}

footer ul {
    margin: 0;
}

footer ul li {
    float: left;
    list-style: none;
    padding-right: 15px;
}

footer ul li:last-child {padding-right: 0;}

footer ul li a {
    line-height: 24px;
    vertical-align: middle;
    color: #666;
    text-shadow: 0px 1px 0px #fff;
}

footer a:hover {
    color: #F38031;
    text-decoration: none;
}

/* Icons */
.icon {background: url('../images/sprite-orange.png') no-repeat 0 0; height: 30px; width: 30px; display: inline-block; vertical-align: bottom; margin:0 10px 0px 0;}

.icon.visual {background-position: -10px -10px; width: 31px;}
.icon.visualization {background-position: -50px -10px;}
.icon.toolbox {background-position: -90px -10px; width: 35px;}
.icon.interface {background-position: -130px -10px; width: 37px;}
.icon.blog {background-position: -170px -10px; width: 31px;}
.icon.bullet {background-position: -20px -50px; width: 6px; height: 6px;}
li.selected .icon.bullet {background-position: -10px -50px; width: 6px; height: 6px;}
li a:hover .icon.bullet {background-position: -10px -50px; width: 6px; height: 6px;}
.icon.back {background-position: -210px -10px; width: 40px; height: 40px; position: absolute; bottom: 15px; left: 15px;}
.icon.back:hover {background-position: -210px -60px; cursor: pointer;}
.icon.front {background-position: -260px -10px; width: 40px; height: 40px; position: absolute; bottom: 15px; right: 15px;}
.icon.front:hover {background-position: -260px -60px; cursor: pointer;}

/* Buttons */

.btn-orange {
    background-color:#da6d22;
    background-image:-moz-linear-gradient(top,#f38031,#b44f0a);
    background-image:-ms-linear-gradient(top,#f38031,#b44f0a);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f38031),to(#b44f0a));
    background-image:-webkit-linear-gradient(top,#f38031,#b44f0a);
    background-image:-o-linear-gradient(top,#f38031,#b44f0a);
    background-image:linear-gradient(top,#f38031,#b44f0a);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f38031', endColorstr='#b44f0a', GradientType=0);
    border-color:#b44f0a #b44f0a #6b2f06;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *background-color:#b44f0a;
}
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] {
    background-color:#b44f0a;
    *background-color:#9b4509;
}
.btn-orange:active, .btn-orange.active { background-color:#833a08 \9; }
.btn-green {
    background-color:#6e7523;
    background-image:-moz-linear-gradient(top,#8b942d,#424615);
    background-image:-ms-linear-gradient(top,#8b942d,#424615);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#8b942d),to(#424615));
    background-image:-webkit-linear-gradient(top,#8b942d,#424615);
    background-image:-o-linear-gradient(top,#8b942d,#424615);
    background-image:linear-gradient(top,#8b942d,#424615);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b942d', endColorstr='#424615', GradientType=0);
    border-color:#424615 #424615 #0a0b03;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *background-color:#424615;
}
.btn-green:hover, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {
    background-color:#424615;
    *background-color:#2f320f;
}
.btn-green:active, .btn-green.active { background-color:#1d1f09 \9; }
.btn-gray {
    background-color:#8597a0;
    background-image:-moz-linear-gradient(top,#9babb3,#647984);
    background-image:-ms-linear-gradient(top,#9babb3,#647984);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#9babb3),to(#647984));
    background-image:-webkit-linear-gradient(top,#9babb3,#647984);
    background-image:-o-linear-gradient(top,#9babb3,#647984);
    background-image:linear-gradient(top,#9babb3,#647984);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9babb3', endColorstr='#647984', GradientType=0);
    border-color:#647984 #647984 #435158;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *background-color:#647984;
}
.btn-gray:hover, .btn-gray:active, .btn-gray.active, .btn-gray.disabled, .btn-gray[disabled] {
    background-color:#647984;
    *background-color:#596c75;
}
.btn-gray:active, .btn-gray.active { background-color:#4e5f67 \9; }

/* Selection color */
::selection {
    background:#F38031;
    color:white;
}
::-moz-selection {
    background:#F38031;
    color:white;
}
img::selection { background:transparent; }
img::-moz-selection { background:transparent; }

/* Media Queries */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /*  .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 728px;} */
}

/*
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    margin-left: 20px;
  }
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.762430939%;
    *margin-left: 2.709239449638298%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 99.999999993%;
    *width: 99.9468085036383%;
  }
  .row-fluid .span11 {
    width: 91.436464082%;
    *width: 91.38327259263829%;
  }
  .row-fluid .span10 {
    width: 82.87292817100001%;
    *width: 82.8197366816383%;
  }
  .row-fluid .span9 {
    width: 74.30939226%;
    *width: 74.25620077063829%;
  }
  .row-fluid .span8 {
    width: 65.74585634900001%;
    *width: 65.6926648596383%;
  }
  .row-fluid .span7 {
    width: 57.182320438000005%;
    *width: 57.129128948638304%;
  }
  .row-fluid .span6 {
    width: 48.618784527%;
    *width: 48.5655930376383%;
  }
  .row-fluid .span5 {
    width: 40.055248616%;
    *width: 40.0020571266383%;
  }
  .row-fluid .span4 {
    width: 31.491712705%;
    *width: 31.4385212156383%;
  }
  .row-fluid .span3 {
    width: 22.928176794%;
    *width: 22.874985304638297%;
  }
  .row-fluid .span2 {
    width: 14.364640883%;
    *width: 14.311449393638298%;
  }
  .row-fluid .span1 {
    width: 5.801104972%;
    *width: 5.747913482638298%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 714px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 652px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 590px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 528px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 466px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 404px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 342px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 280px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 218px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 156px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 94px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 32px;
  }
}
*/

#content .sphinx a.headerlink {
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

.pagination-bottom > .breadcrumbs {
    visibility: hidden;
}
